# Ignore Data Folder
/data/

# Ignore virtual environment
/venv*

# Ignore some development folders
/experiments/logs/
/notebooks/

# Ignore Jetbrains cache
**/__pycache__/
/.idea/

# Ignore Jupyter notebook Checkpoints
**/.ipynb_checkpoints/**

# Ignore old or other content - starting with '_'
**/_*/**
