# Ignore Data Folder
/data/
/example_data/

# Ignore CustomDB data in Custom_DB/
# /Custom_DB/custom_nir/

# Ignore virtual environment
/venv*

# Ignore some development folders
/experiments/logs/
/notebooks/

# Ignore Jetbrains cache
**/__pycache__/
/.idea/

# Ignore Jupyter notebook Checkpoints
**/.ipynb_checkpoints/**
/Custom_DB/.ipynb_checkpoints/
.ipynb_checkpoints
Custom_DB/.ipynb_checkpoints/Custom_DB-checkpoint.ipynb

# Ignore old or other content - starting with '_'
**/_*/**

# Ignore folders produced by pip when in stalling cutom package - FaceInference
*.egg-info
/skeleton/build/


