# Ignore data
/data/

# Ignore all modules
/venv*

# Ignore notebooks /folder
/notebooks/

# Ignore old or other content - those are starting with '_'
**/_*/**

# Ignore .ipynb_checkpoints
**/.ipynb_checkpoints/**

# Ignore pycache
**/__pycache__/

