# libraries for the heavy-duty neural network stuff
-f https://download.pytorch.org/whl/torch_stable.html
torch
torchaudio
torchdata
pytorch-lightning
torchmetrics
tensorboard
lightning
torchvision

# always useful in any data science project (but not required)
numpy
scikit-learn
matplotlib
jupyterlab
seaborn
pandas
tqdm
jupyter

# useful for automatically formatting your code
# in one style (but not required)
black==22.12.0

# # official evaluation metric
# git+https://github.com/bsxfan/PYLLR.git

# fix bug with tensorboard
setuptools==59.5.0